@tailwind base;
@tailwind components;
@tailwind utilities;

.HeaderEnvlope{
    width: 1.2rem;
}


.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    /* background-color: white !important; */
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 0px;

  }
  
/* HamBurger Icon */

.HamBurgerIcon{
    /* z-index: 30; */
}
.label{
    display:flex;
    flex-direction:column;
    width:3rem;
    cursor:pointer;
    justify-items: center;   
   }
   
   .label .span{
    background: black;
    border-radius:50px;
    height:3px;
    margin: 7% 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
   }
   
   .span:nth-of-type(1){
     width:50%;
     
   }
   .span:nth-of-type(2){
     width:90%;
   }
   
   
   .span:nth-of-type(3){
     width:50%;
    
   }
   
   
  .input[type="checkbox"]{
     display:none;
   }
   
   
   .input[type="checkbox"]:checked ~ .span:nth-of-type(1){
     transform-origin:bottom;
     transform:rotatez(45deg) translate(5px,0px)
   }
   
   
   .input[type="checkbox"]:checked ~ .span:nth-of-type(2){
     
     transform-origin:top;
     transform:rotatez(-45deg)
   }
   
   
  .input[type="checkbox"]:checked ~ .span:nth-of-type(3){
     
     transform-origin:bottom;
     width:50%;
     transform: translate(17px,-3px) rotatez(45deg);
   
   }


   /* Keyframes */
@keyframes fade-up {
  0%{
      opacity: 0;
      transform: translateY(30px) scale(0.9);
  }

  100%{
      opacity: 1;
      transform: rotateY(0px) scale(1);
  }
}
@keyframes fade-down {
  0%{
      opacity: 0;
      transform: translateY(-30px) scale(0.9);
  }
  100%{
      opacity: 1;
      transform: rotateY(0px) scale(1);
  }
}
/* $$ */

/* OnScroll Animation  */
.hidden{
  opacity:0;
  /* filter:blur(5px); */
  transform:translateY(50px);
  transition:all 1s;
}
.hidden2{
    opacity:0;
    /* filter:blur(5px); */
    transform: translateX(-50%);
    transition:all 1s;
  }

.hidden3{
  opacity:0;
  /* filter:blur(5px); */
  transform: translateX(-100%);
  transition:all 1s;
  }

.show{
opacity:1;
filter:blur(0);
transform:translateY(0px);
}

.showleftSlider{

    opacity: 1;
    filter:blur(0);
    transform: translateX(0%);

}

.rightSlider{
  opacity: 1;
  filter:blur(0);
  transform: translateX(0px);

}
/* ## */